@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: OpenSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: OpenSans;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("./fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
}